body{
    font-family: Arial;
    background: #dff5e1;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container{
    width: 60%;
    margin: auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.2);
}

h1{
    color: green;
    margin-bottom: 30px;
}

input,
select{
    display: block;
    margin: 15px auto;
    width: 60%;
    height: 45px;
    padding: 0 12px;
    border-radius: 8px;
    border: 1px solid gray;
    font-size: 16px;
    box-sizing: border-box;
}

button{
    background: green;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 15px;
    transition: 0.3s;
}

button:hover{
    background: darkgreen;
}

.img-imc{
    width: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background: green;
    color: white;
    padding: 12px;
}

td{
    padding: 10px;
    border: 1px solid #ccc;
}

tr:nth-child(even){
    background: #f2f2f2;
}
body{
    background-color:#f4f7f8;
}

.card{
    border:none;
    border-radius:15px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.navbar{
    position:sticky;
    top:0;
    z-index:1000;
}

footer{
    margin-top:50px;
}

img{
    object-fit:cover;
}
.receta-img{
    height:250px;
    object-fit:cover;
}

.modal-content{
    border-radius:20px;
}