<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Historial IMC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">

    <h1>Historial de alumnos</h1>

    <table class="tabla">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Peso</th>
            <th>Estatura</th>
            <th>IMC</th>
            <th>Clasificación</th>
        </tr>

        {% for a in alumnos %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.nombre }}</td>
            <td>{{ a.sexo }}</td>
            <td>{{ a.peso }} kg</td>
            <td>{{ a.estatura }} m</td>
            <td>{{ a.imc }}</td>
            <td>{{ a.clasificacion }}</td>
        </tr>
        {% endfor %}

    </table>

    <br>

    <a href="/">
        <button>Volver al inicio</button>
    </a>

</div>

</body>
</html>