{% extends "layout.html" %}

{% block title %}
Ejercicios
{% endblock %}

{% block content %}

<h1 class="text-center text-success mb-5">
    🏃 Rutinas de Ejercicio
</h1>

<div class="row g-4">

    <div class="col-md-4">

        <div class="card shadow h-100">

            <div class="card-body text-center">

                <h3>🏃 Cardio</h3>

                <p>
                    Ayuda al corazón y mejora la condición física.
                </p>

                <ul class="text-start">
                    <li>Correr</li>
                    <li>Caminar</li>
                    <li>Bicicleta</li>
                </ul>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow h-100">

            <div class="card-body text-center">

                <h3>💪 Fuerza</h3>

                <p>
                    Fortalece músculos y huesos.
                </p>

                <ul class="text-start">
                    <li>Lagartijas</li>
                    <li>Sentadillas</li>
                    <li>Abdominales</li>
                </ul>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card shadow h-100">

            <div class="card-body text-center">

                <h3>🧘 Relajación</h3>

                <p>
                    Reduce estrés y ansiedad.
                </p>

                <ul class="text-start">
                    <li>Meditación</li>
                    <li>Respiración</li>
                    <li>Yoga</li>
                </ul>

            </div>

        </div>

    </div>

</div>

{% endblock %}