<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vida Saludable</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">

        <h1>🥗 Vida Saludable</h1>

        <p>
            Una vida saludable incluye buena alimentación,
            actividad física y descanso adecuado.
        </p>

        <h2>Beneficios</h2>

        <ul>
            <li>Mayor rendimiento académico</li>
            <li>Más energía</li>
            <li>Mejor concentración</li>
            <li>Menor estrés</li>
        </ul>

        <a href="/imc">
            <button>Calcular IMC</button>
        </a>

    </div>

</body>
</html>