{% extends "layout.html" %}

{% block title %}
Resultado IMC
{% endblock %}

{% block content %}

<div class="row justify-content-center">

    <div class="col-md-8">

        <div class="card shadow p-4 text-center">

            <h1 class="text-success">
                Resultado IMC
            </h1>

            <h2 class="mt-3">
                {{ nombre }}
            </h2>

            <h3 class="mt-4">
                IMC: {{ imc }}
            </h3>

            <h4 class="mt-3">
                {{ clasificacion }}
            </h4>

            <img src="{{ url_for('static', filename=imagen_imc) }}"
                 class="img-fluid mx-auto my-4"
                 style="max-width:300px;">

            <div class="alert alert-success">

                <strong>Recomendación:</strong>

                {{ recomendacion }}

            </div>

            <p class="text-muted">

                El IMC no siempre refleja
                la composición corporal individual.

            </p>

            <a href="/imc"
               class="btn btn-success">

                Calcular nuevamente

            </a>

        </div>

    </div>

</div>

{% endblock %}