{% extends "layout.html" %}

{% block title %}
Salud Mental
{% endblock %}

{% block content %}

<h1 class="text-center text-success mb-5">
    🧠 Salud Mental
</h1>

<div class="card shadow mb-4">

    <div class="card-body">

        <h2>😰 Estrés</h2>

        <p>
            El estrés excesivo puede afectar
            la salud física y emocional.
        </p>

        <p>
            Algunas causas son:
        </p>

        <ul>
            <li>Falta de sueño</li>
            <li>Problemas escolares</li>
            <li>Mala alimentación</li>
        </ul>

    </div>

</div>

<div class="card shadow mb-4">

    <div class="card-body">

        <h2>🌙 Descanso</h2>

        <p>
            Dormir correctamente ayuda al cerebro
            y mejora la concentración.
        </p>

    </div>

</div>

<div class="card shadow">

    <div class="card-body">

        <h2>😊 Bienestar Emocional</h2>

        <p>
            Hacer ejercicio y convivir con otras personas
            mejora la salud mental.
        </p>

    </div>

</div>

{% endblock %}